body {
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(221, 221, 221) ;
    background-repeat: no-repeat;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 1.25rem;
}

.painting {
    border: 10px solid white;
    box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-out;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.painting .content {
    width: 100%;
    color: white;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-left: 15px;
}

.painting:hover .content {
    top: 35%;
    opacity: 1;
}

.painting:hover img {
    filter: brightness(0.5);
    transition: all 0.5s ease-in-out;
}

.painting:hover {
    box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.15s ease-in;
}

.card-columns {
    column-count: 4;
    column-gap: 50px;
}

.profile-button {
    position: absolute;
    top: 5%;
    left: 100%;
    opacity: 0;
    width: 150px;
    transition: all 0.5s ease-in-out;
}

.painting:hover .profile-button {
    left: calc(100% - 120px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*
.action-button {
    position: relative;
    top: 5%;
    left: 100%;
    opacity: 0;
    width: 150px;
    transition: all 0.5s ease-in-out;
}

.painting:hover .action-button {
    left: calc(100% - 80px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
} */