/* base */

body {
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    background-repeat: no-repeat;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 1.25rem;
}

/* index */

.painting {
    border: 10px solid white;
    box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-out;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.painting .content {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    color: white;
    position: absolute;
    top: 90%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.painting:hover .content {
    opacity: 1;
    top: 70%;
    transition: all 0.5s ease-in-out;
}

.painting:hover img {
    filter: brightness(0.3);
    transition: all 0.5s ease-in-out;
}

.painting:hover {
    box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.15s ease-in;
}

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */

.card-columns {
    column-count: 4;
    column-gap: 50px;
}

.action-button {
    position: absolute;
    top: 5%;
    right: 2%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.painting:hover .action-button {
    right: 10%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.painting-button {
    position: absolute;
    top: 25%;
    right: 2%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.painting:hover .painting-button {
    right: 10%;
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.profile-button {
    position: absolute;
    top: 45%;
    right: 2%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.painting:hover .profile-button {
    right: 10%;
    opacity: 1;
    transition: all 1.1s ease-in-out;
}

.addPaintingBtn {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

/* artists */

.crop {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.artist-card {
    float: left;
    position: relative;
    margin: 2% 1%;
    border: 10px solid white;
    box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.2);
}

.artist-card:hover {
    box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.15s ease-in;
}

/* artist profile */

.profile-picture {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    left: 5%;
    z-index: 1000;
    top: -100px;
}

.profile-picture img {
    width: 200px;
}

.container {
    margin-top: 150px;
    position: relative;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    padding-top: 160px; 
}

.table {
    width: 65%;
    border: none;
}

.container button {
    width: 100%;
}