body {
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 1.25rem;
}

#painting {
    border: 10px solid white;
    box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    /* border: none; */
    overflow: hidden;
}

#painting:hover img {
    transform: scale(1.08);
    transition: all 0.75s ease-out;
    filter: brightness(0.5)
}

.card-columns {
    column-count: 4;
    column-gap: 50px;
}