{% extends 'main/layouts/base.html' %}

{% load static %}

{% block content %}
<div class="container profile-container">
    <div class="profile-picture rounded-circle">
        <img src="{{ artist.photo.url }}" alt="">
    </div>

    <div class="row justify-content-center">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row" class="text-right">Name</th>
                    <td>{{ artist.profile.first_name }} {{ artist.profile.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">Contact</th>
                    <td>{{ artist.profile.contact }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">E-mail</th>
                    <td colspan="2">{{ artist.profile.email }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">Medium</th>
                    <td colspan="2">{{ artist.medium }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">Style</th>
                    <td colspan="2">{{ artist.style }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">Experience</th>
                    <td colspan="2">{{ artist.workEx }} Years</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="painting-partition text-center">
        {{ artist.profile.first_name }} {{ artist.profile.last_name }}'s paintings
    </div>

    <div class="row">
        {% for painting in artist.painting_set.all %}
        <div class="col-4">
            <div class="card painting-card">
                <img class="card-img-top" src="{{ painting.photo.url }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <div class="card-title">
                            <h4>{{ painting.name }}</h4>
                        </div>
                        <h5>Style: {{ painting.style }}</h5>
                        <h5>Medium: {{ painting.medium }}</h5>
                        <h5>Price: {{ painting.price }}</h5>
                        <h5>Size: {{ painting.size }}</h5>
                    </p>
                    {% if painting.soldStatus is True  %}
                    <button class="btn btn-dark disabled">
                        Sold
                    </button>
                    {% elif painting.artist.profile.id is request.user.id  %}
                    <a>
                        <button class="btn btn-outline-danger disabled">
                            Buy
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'buy-painting' user.id painting.artist.id painting.id %}">
                        <button class="btn btn-outline-danger">
                            Buy
                        </button>
                    </a>
                    {% endif %}
                    <a href="{% url 'view-painting' painting.id %}" class="btn btn-outline-danger ml-2">View Painting</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}