{% extends 'main/layouts/base.html' %}

{% block content %}
<!-- <div class="container payment-container mt-5">
    <div class="card payment-card">
        <div class="card-header">
            Change progile picture
        </div>
        <div class="card-body">
            <p>Current</p>
                <img src="{{ artist.photo.url }}">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <p class="mb-2">Card</p>
                        <div class="input-group">
                            <select class="custom-select" name="mode" required="" id="id_mode">
                                <option value="" selected="">Select</option>
                                <option value="cc">Credit Card</option>
                                <option value="dc">Debit Card</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="id_card_number">Card number</label><input type="text" name="card_number"
                            maxlength="256" required="" id="id_card_number" class="form-control"
                            placeholder="Card Number">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="id_name_on_card">Name on card</label><input type="text" name="name_on_card"
                            maxlength="256" required="" id="id_name_on_card" class="form-control"
                            placeholder="Name on card">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="id_expiration_month">Expiration month</label><input type="number"
                            name="expiration_month" required="" id="id_expiration_month" class="form-control"
                            placeholder="Expiration month">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="id_expiration_year">Expiration year</label><input type="number"
                            name="expiration_year" required="" id="id_expiration_year" class="form-control"
                            placeholder="Expiration year">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="id_cvv">CVV</label><input type="number" name="cvv" required="" id="id_cvv"
                            class="form-control" placeholder="CVV">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-outline-danger">Pay <i class="fas fa-rupee-sign ml-2"
                            style="font-size: 0.9rem;"></i> {{ painting.price }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card mt-5" id="artistSignUpForm">
    <div class="card-header"><a href="/" id="arrow"><i class="fas fa-arrow-left"></i></a><span
            style="padding: 20px">Sign Up as an Artist</span></div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_first_name">First name</label>
                    <input type="text" name="first_name" maxlength="256" required="" id="id_first_name"
                        class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_last_name">Last name</label>
                    <input type="text" name="last_name" maxlength="256" required="" id="id_last_name"
                        class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" maxlength="150" required="" id="id_username" class="form-control"
                        placeholder="Username">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_email">E-mail</label>
                    <input type="text" name="email" class="form-control" required="" id="id_email" class="form-control"
                        placeholder="E-mail">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" required="" id="id_password1" class="form-control"
                        placeholder="Your password must contain at least 8 characters">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_password2">Confirm Password</label><input type="password" name="password2"
                        required="" id="id_password2" class="form-control"
                        placeholder="Enter the same password as before">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_contact">Contact</label><input type="text" name="contact" maxlength="15" required=""
                        id="id_contact" class="form-control" placeholder="Phone number">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_workEx">Work Experience</label>
                    <input type="number" name="workEx" min="0" required="" id="id_workEx" class="form-control"
                        placeholder="Work Experience">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_style">Style</label>
                    <input type="text" name="style" maxlength="256" required="" id="id_style" class="form-control"
                        placeholder="Style">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_medium">Medium</label>
                    <input type="text" name="medium" maxlength="256" required="" id="id_medium" class="form-control"
                        placeholder="Medium">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_address">Address</label>
                    <input type="text" name="address" maxlength="256" required="" id="id_address" class="form-control"
                        placeholder="Address">
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group-prepend">
                        <span id="inputGroupFileAddon01" class="mb-2">Photo</span>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="id_photo">Choose a profile picture</label><br>
                        <input type="file" class="custom-file-input" name="photo" accept="image/*" id="id_photo">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-danger">Sign Up</button>
            </div>
        </form>
    </div>
</div> -->

<div class="container payment-container mt-5">
    <div class="card payment-card">
        <div class="card-header">
            Change progile picture
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="current-pic">
                        <img src="{{ artist.photo.url }}">
                    </div>
                </div>
                <div class="col-6">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group-prepend">
                            <span class="mb-2">Change picture</span>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="id_photo">Choose a profile picture</label><br>
                            <input type="file" class="custom-file-input" name="photo" accept="image/*" id="id_photo">
                        </div>
                        <input type="submit" value="Update" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form method="POST" enctype="multipart/form-data">

    <input type="checkbox" name="photo-clear" id="photo-clear_id">
    <label for="photo-clear_id">Clear</label><br>
    Change:
    <input type="file" name="photo" accept="image/*" id="id_photo">
    <input type="submit" value="Update">
</form>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update">
</form> -->
{% endblock %}