{% extends 'main/layouts/base.html' %}

{% block content %}

<div class="container">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto">Login</h5>
                    </button>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Username" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" name="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-outline-danger">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="contents">
                <h1 class="display-1">Welcome to Urban Art</h1>
                <h1>Exhibitions at home!</h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" id="signup">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.75rem">Artist</h5>
                    <hr>
                    <p class="card-text" style="font-size: 1.25rem">Join Urban Art as an artist and make our
                        community grow.</p>
                    <a href="#" class="btn btn-outline-danger mt-5" style="font-size: 1.15rem">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.75rem">Collector</h5>
                    <hr>
                    <p class="card-text" style="font-size: 1.25rem">Buy paintings from artists from all around the
                        world.</p>
                    <a href="#" class="btn btn-outline-danger mt-5" style="font-size: 1.15rem">Sign Up</a>
                </div>
            </div>
        </div>
    </div>


    <div id="guest">
        <a href="#" class="btn btn-outline-light">
            <h5 style="display: inline" class="mr-2">Skip Login</h5>
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</div>


{% endblock %}