{% extends 'main/layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="card-columns">
        {% for painting in painting_list %}
            {% include 'main/components/painting-card.html' %}
        {% endfor%}
    </div>

    {% for artist in artists %}
        {% if artist.profile.id == request.user.id %}
            <a href="{% url 'add-painting' artist.id %}">
                <button>
                    Add Your Own
                </button>
            </a>
        {% endif %}
    {% endfor %}

{% endblock %}