{% extends 'main/layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto">Login</h5>
                    </button>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Username" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" name="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-outline-danger">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-columns">
        {% for painting in painting_list %}
            {% include 'main/components/painting-card.html' %}
        {% endfor%}
    </div>

{% endblock %}