{% extends 'main/layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="card-columns">
        {% for painting in painting_list %}
            {% include 'main/components/painting-card.html' %}
        {% endfor%}
    </div>

    {% for artist in artists %}
        {% if artist.profile.id == request.user.id %}
            <a href="{% url 'add-painting' artist.id %}">
                <button class="addPaintingBtn btn btn-dark rounded-circle" data-toggle="tooltip" data-placement="top" title="Add your own painting">
                    <i class="fas fa-plus"></i>
                </button>
            </a>
        {% endif %}
    {% endfor %}

{% endblock %}