<!-- <div class="card">
    <div class="crop">
        <img src="{{ artist.photo.url }}" class="card-img-top" alt="...">
    </div>
    <div>
        <div class="display-4">{{ artist.profile.first_name }} {{ artist.profile.last_name }}</div>
        <h5>Style: {{ artist.style }}</h5>
        <h5>Medium: {{ artist.medium }}</h5>
    </div>
    <div>
        <a href="{% url 'view-profile' artist.id %}">
            <button class="btn btn-outline-light">
                View Profile
            </button>
        </a>
    </div>
</div> -->

<div class="card artist-card">
    <div class="crop">
        <img class="card-img-top" src="{{ artist.photo.url }}" alt="Card image cap">
    </div>
    <div class="card-body">
        <p class="card-text">
            <div class="card-title"><h4>{{ artist.profile.first_name }} {{ artist.profile.last_name }}</h4></div>
            <h5>Style: {{ artist.style }}</h5>
            <h5>Medium: {{ artist.medium }}</h5>
        </p>
        <a href="{% url 'view-profile' artist.id %}" class="btn btn-outline-danger">View Profile</a>
    </div>
</div>