<div class="card rounded-0 painting">
    <img src="{{ painting.photo.url }}" class="card-img-top" alt="...">
    <div class="content">
        <h2>{{ painting.name }}</h2>
    </div>
    <div class="action-button">
        {% if painting.soldStatus is True  %}
        <button class="btn btn-dark disabled">
            Sold
        </button>
        {% elif painting.artist.profile.id is request.user.id  %}
        <a>
            <button class="btn btn-outline-light disabled">
                Buy
            </button>
        </a>
        {% else %}
        <a href="{% url 'buy-painting' user.id painting.artist.id painting.id %}">
            <button class="btn btn-outline-light">
                Buy
            </button>
        </a>
        {% endif %}
    </div>
    <div class="painting-button">
        <a href="{% url 'view-painting' painting.id %}">
            <button class="btn btn-outline-light">
                View Painting
            </button>
        </a>
    </div>
    <div class="profile-button">
        <a href="{% url 'view-profile' painting.artist.id %}">
            <button class="btn btn-outline-light">
                View artist profile
            </button>
        </a>
    </div>
</div>