{% extends 'auth/layouts/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card mt-5" id="artistSignUpForm">
    <div class="card-header"><a href="/" id="arrow"><i class="fas fa-arrow-left"></i></a><span
            style="padding: 20px">Sign Up as an Artist</span></div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_first_name">First name</label>
                    <input type="text" name="first_name" maxlength="256" required="" id="id_first_name"
                        class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_last_name">Last name</label>
                    <input type="text" name="last_name" maxlength="256" required="" id="id_last_name"
                        class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" maxlength="150" required="" id="id_username" class="form-control"
                        placeholder="Username">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_email">E-mail</label>
                    <input type="text" name="email" class="form-control" required="" id="id_email" class="form-control"
                        placeholder="E-mail">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" required="" id="id_password1" class="form-control"
                        placeholder="Your password must contain at least 8 characters">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_password2">Confirm Password</label><input type="password" name="password2"
                        required="" id="id_password2" class="form-control"
                        placeholder="Enter the same password as before">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_contact">Contact</label><input type="text" name="contact" maxlength="15" required=""
                        id="id_contact" class="form-control" placeholder="Phone number">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_workEx">Work Experience</label>
                    <input type="number" name="workEx" min="0" required="" id="id_workEx" class="form-control"
                        placeholder="Work Experience">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_style">Style</label>
                    <input type="text" name="style" maxlength="256" required="" id="id_style" class="form-control"
                        placeholder="Style">
                </div>
                <div class="form-group col-md-6">
                    <label for="id_medium">Medium</label>
                    <input type="text" name="medium" maxlength="256" required="" id="id_medium" class="form-control"
                        placeholder="Medium">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_address">Address</label>
                    <input type="text" name="address" maxlength="256" required="" id="id_address" class="form-control"
                        placeholder="Address">
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group-prepend">
                        <span id="inputGroupFileAddon01" class="mb-2">Photo</span>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="id_photo">Choose a profile picture</label><br>
                        <input type="file" class="custom-file-input" name="photo" accept="image/*" id="id_photo">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-danger">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}