{% extends 'main/layouts/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="container payment-container mt-5">
        <div class="card payment-card text-center">
            <div class="card-header">
                Are you sure you want to delete "{{ artist.profile.username }}"?
            </div>
            <div class="card-body">
                <div class="card-text">
                    <h4>This action cannot be undone.</h4>
                </div>

                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-danger m-4" value="Confirm">
                    <a href="{% url 'current-profile' %}" class="btn btn-info m-4">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}